@import "./variables";
.contactCard {
  background: $menuHover;
  box-shadow: 0px 10px 31px -6px rgba(34, 166, 108, 0.09);
  border-radius: 14px;
  //border: 1px solid #EBEBEB;
  padding: 36px 7%;
  .profit{
    text-align: center;
    .desc{
      display: flex;
      flex-direction: column;
      font-weight: 400;
      color: #fff;
      font-size: 14px;
      line-height: 26px;
    }
    .percent{
      font-size: 16px;
      font-weight: 500;
      color: #CDCDCD;
      span{
        color: $menuActiveText;
        font-size: 78px;
      }
    }
  }
  .capital {
    display: flex;
    flex-direction: column;
    margin: 16px 0 18px;
    .amount{
      font-size: 14px;
      text-align: right;
      margin-top: 12px;
      .el-select{
        display: flex;
      }
      .el-input__inner{
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        background-color: transparent;
        border-color: #cccccc;
      }
      .suffix{
        font-size: 12px;
        font-weight: 500;
        color: #545454;
        position: absolute;
        right: 10px;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
      }
      .tip{
        font-weight: 400;
        color: #B3B3B3;
        margin-top: 5px;
        font-size: 13px;
      }

    }
    .tit {
      font-weight: 500;
      color: #fff;
      font-size: 14px;
    }
  }
  .head {
    font-weight: 400;
    color: #B3B3B3;
    font-size: 14px;
    b {
      color: $menuActiveText;
      font-size: 36px;
      margin-right: 5px;
    }
  }
}
.contactCard.contactItem3{
  .el-button--primary{
    background: $red;
    border:$red;
  }


  .is-disabled {
    color: #f4f4f5;
    background-color: #928b8b;
    border-color: #928b8b;
  }
  .head b{
    color: $red;
  }
  .profit{
    .percent{
      span{
        color: $red;
      }
    }

  }
}
.contactCard.contactItem2{
  .el-button--primary{
    background: $orange;
    border:$orange;
  }
  .head b{
    color: $orange;
  }
  .profit{
    .percent{
      span{
        color: $orange;
      }
    }

  }
}
.mobile {
  .contactCard {
    margin-top: 20px;
  }
}
