@import "./variables";

.contact {
  &-container {
    margin: 30px 0;
    position: relative;
    .tabs{
      position: absolute;
      top: -80px;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      height: 44px;
      background:rgba(255,255,255,.17);
      border-radius: 10px;
      padding: 3px 5px;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0px 4px 8px 0px rgba(170, 14, 34, 0.08);
      .tab{
        flex-basis: 33%;
        font-weight: 600;
        color: #808080;
        font-size: 14px;
        height: 100%;
        min-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .tab.active{
        border-radius: 10px;
        background: $menuActiveText;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
        color: $menuText;
      }
    }
  }
}
.mobile{
  .contact{
    &-container {
      .tabs{
        position: sticky;
        top: -40px;
        transform: none;
        z-index: 1;
      }

    }
  }
}
