/* 改变主题色变量 */
$--color-primary: rgba(34, 166, 108, 1);

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
// sidebar
$menuText: #fff;;
$menuActiveText:rgba(34, 166, 108, 1);
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#000;
$menuHover:#313432;
$subMenuBg:#fff;
$subMenuHover:#fff;

$sideBarWidth: 260px;
$orange:#FA6400;
$red:#FF4826;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  orange:$orange;
  red:$red
}
